{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Ozias Soluções em Software<br />
    Rua do Binário, 0101<br />
    <abbr title="Telefone">Tel:</abbr>
    11 1010-0101
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:ozias.suporte@example.com">ozias.suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ozias.marketing@example.com">ozias.marketing@example.com</a>
</address>

{% endblock %}
